<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card my-5" style="background: #1B1B2F">
        <div class="card-body">
          <h1 class="mat-display-2 card-title text-center text-white mt-3">{{ title }}</h1>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/contacts" class="btn btn-primary">List Contacts</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/add-contact" class="btn btn-success">Add Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
